<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.13.3" targetFramework="monoandroid90" />
  <package id="Embeddinator-4000" version="0.4.0" targetFramework="monoandroid90" />
  <package id="lz4net.netcore.signed" version="1.0.15.93" targetFramework="monoandroid90" />
  <package id="lz4net.unsafe.netcore.signed" version="1.0.15.93" targetFramework="monoandroid90" />
  <package id="LZMA-SDK" version="18.1.0" targetFramework="monoandroid90" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="monoandroid90" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="monoandroid90" />
  <package id="SixLabors.Core" version="1.0.0-beta0007" targetFramework="monoandroid90" />
  <package id="System.Buffers" version="4.5.0" targetFramework="monoandroid90" />
  <package id="System.Memory" version="4.5.3" targetFramework="monoandroid90" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="monoandroid90" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="monoandroid90" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="monoandroid90" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="monoandroid90" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="monoandroid90" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="monoandroid90" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="monoandroid90" />
</packages>