<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <!-- This must be set to the pointer of the BeatMapDataSO object in the unity project-->
    <add key="BeapMapDataSOUnityPointer" value="01 00 00 00 10 06 00 00 00 00 00 00" />
  </appSettings>
</configuration>
